<% libri.forEach(libri => { %>
    <ul>
        <li>Title: <%= libri.titolo %> </li>
        <li>Edit</li>
        <form method="POST" action="/modificalibri">
            <input type="text" name="titolo"> 
            <input type="submit" value="Add">
        </form>
        <form action="/dellibro" method="post">
            <input type="hidden" name="id" value="<%= libri.id %>">
            <input type="submit" value="Delete">
        </form>
    </ul>
<% }) %>
<p>Add Book</p>
<form action="/addlibro" method="post">
    <input type="text" name="titolo" value="titolo">
    <input type="submit" value="Aggiungi">
</form>
<a href="/admin">HomePage Admin</a>