<% autori.forEach(autore => { %>
    <ul>
        <li>ID: <%= autore.id %> </li>
        <li>Nome: <%= autore.nome %> </li>
        <li>Cognome: <%= autore.cognome %> </li>
    </ul>
<% }) %>
<a href="/">Torna alla home</a>