<p>list.lib</p>
<% libri.forEach(libri => { %>
    <ul>
        <li>Titolo: <%= libri.titolo %> </li>
        <li>Autore: <%= libri.fk_autore %> </li>
    </ul>
<% }) %>
<a href="/">Torna alla home</a>